<!DOCTYPE html>
<html lang="en">

{{>headerLinks}}

<body>
    
    {{>navbar}}

    <!-- MainHeader -->

    <div class="container-fluid main_header">

        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_right">
                        <figure>
                            <img src="Images/female-avatar.png" alt="_mitali"class="img-fluid profile">
                        </figure>
                    </div>

                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to DailyWeather</p>
                        <h1>I Am A Computer Science Undergrad And A Web Developer</h1>
                        <a href="/" target="_blank"><button>More About Me</button></a>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <!-- Footer -->

    {{>footer}}

</body>

</html>